<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <remap from="/base_scan" to="/Jido/Sick"/>
    <remap from="/cmd_vel" to="/Jido/Motion_Controller"/>
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="100.0" /> 
    <param name="planner_frequency" value="2.0" /> 

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find morse_2dnav)/launch/morse_move_base/dwa_planner_ros.yaml" command="load" />
    <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />  -->
    <!-- <rosparam file="$(find morse_2dnav)/launch/morse_humanAware/trajectory_planner_ros.yaml" command="load" /> -->
    
    <rosparam file="$(find morse_2dnav)/launch/morse_move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find morse_2dnav)/launch/morse_move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find morse_2dnav)/launch/morse_move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find morse_2dnav)/launch/morse_move_base/global_costmap_params.yaml" command="load" />
  </node>

</launch>
