<launch>
 
  <node pkg="morse_tf" type="morse_tf_broadcaster_navstack.py" name="morse_tf_broadcaster_navstack"/>  
  <param name="robot_description"  command="$(find xacro)/xacro.py '$(find morse_tf)/urdfs/Jido_kuka.urdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"> 
  <remap from="joint_states" to="/Jido/jido_posture" />
  </node>

</launch>