<launch>
   <param name="robot_description" command="cat $(find morse_2dnav)/urdf/pr2.urdf"/>
   
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 
  
  <node name="amcl" pkg="amcl" type="amcl"/>

  <!--node name="fake_localization" pkg="fake_localization" type="fake_localization" >
     <remap from="/base_pose_ground_truth" to="/james/Pose_sensor" />
  </node-->

  <include file="$(find morse_2dnav)/launch/morse_move_base/move_base_pr2.launch"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/IAS_kitchen_big.yaml"/> 

</launch>
