<launch>
  
  <include file="$(find morse_tf)/launch/morse_tf.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/base_scan" to="/Jido/Sick"/>
    <rosparam file="$(find morse_2dnav)/morse_move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find morse_2dnav)/morse_move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find morse_2dnav)/morse_move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find morse_2dnav)/morse_move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find morse_2dnav)/morse_move_base/base_local_planner_params.yaml" command="load" />
  </node>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/IAS_kitchen_small.yaml"/> 

  <node pkg="nav_pcontroller" type="nav_pcontroller" name="nav_pcontroller" output="screen">
    <remap from="~laser_1" to="/Jido/Sick"/>
    <rosparam file="$(find morse_2dnav)/launch/nav_pcontroller_params.yaml" command="load" />
  </node>

  <node name="test_morse_nodes" pkg="morse_2dnav" type="test_morse_nodes.py"/> 
 
 
</launch>
