<launch>

  <include file="$(find morse_2dnav)/morse_sbpl/launch/move_base/move_base_sbpl.xml"/>
  <include file="$(find morse_tf)/launch/morse_tf.launch"/>

 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/tut1_map_025.yaml"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/tut1_map.yaml"/> 
 
  <node pkg="nav_pcontroller" type="nav_pcontroller" name="nav_pcontroller" output="screen">
    <remap from="~laser_1" to="/Jido/Sick"/>
    <remap from="/goal" to="/nav_pcontroller/goal"/>
    
    <rosparam file="$(find morse_2dnav)/launch/nav_pcontroller_params.yaml" command="load" />
  </node>
 
  <node name="test_morse_nodes" pkg="morse_2dnav" type="test_morse_nodes.py"/> 
</launch>
