<launch>

  <include file="$(find morse_tf)/launch/morse_tf.launch"/>
 
  <include file="$(find morse_2dnav)/launch/morse_move_base/move_base.launch"/>

  <node pkg="kuka_arm" type="Jido_park_arm.py" name="Jido_park_arm"/>
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/tut1_map.yaml"/> 

  <node name="test_morse_nodes" pkg="morse_2dnav" type="test_morse_nodes.py"/> 

</launch>
