<?xml version="1.0"?>
<robot name="myfirst">
<link name="table">
    <visual>
      <geometry>
        <box size="1.22 0.8 0.01"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
</link>
<link name="drawer">
    <visual>
      <geometry>
        <box size="0.564 0.51 0.01"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
</link>
<link name="cupboard">
    <visual>
      <geometry>
        <box size="0.311 0.616 0.01"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
</link>
<link name="stove">
    <visual>
      <geometry>
        <box size="0.577 0.611 0.01"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
</link>
<link name="dishwasher">
    <visual>
      <geometry>
        <box size="0.5577561 0.61225 0.01"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
</link>
<link name="cupboard0">
    <visual>
      <geometry>
        <box size="0.3095981 0.50293 0.01"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
</link>
  
<joint name="drawer_table" type="fixed">
    <parent link="table"/>
    <child link="drawer"/>
</joint>
<joint name="cupboard_table" type="fixed">
    <parent link="table"/>
    <child link="cupboard"/>
</joint>
<joint name="oven_table" type="fixed">
    <parent link="table"/>
    <child link="stove"/>
</joint>
<joint name="cupboard0_table" type="fixed">
    <parent link="table"/>
    <child link="cupboard0"/>
</joint>
<joint name="dishwasher_table" type="fixed">
    <parent link="table"/>
    <child link="dishwasher"/>
</joint>

</robot>



