<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find morse_2dnav)/maps/tut1_map.yaml"/> 

  <node pkg="morse_tf" type="morse_tf_broadcaster_navstack.py" name="morse_tf_broadcaster_navstack"/>
  
  <param name="robot_description" command="cat $(find morse_tf)/urdfs/Jido.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"> 
  <remap from="joint_states" to="/Jido/ptu_posture" />
  </node>
 
</launch>
