<launch>

  <param name="robot_description" command="cat $(find morse_tf)/urdfs/Jido.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  <remap from="joint_states" to="/Jido/ptu_posture" />
  </node>

  <node pkg="jido_move_head" type="jido_move_head" name="jido_move_head"/>

</launch>
